.react-datepicker {
  background-color: #18181b;
  border-color: #3f3f46;
  font-family: inherit;
}
.react-datepicker__header {
  background-color: #27272a;
  border-bottom-color: #3f3f46;
}
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__time-list-item {
  color: #fafafa;
}
.react-datepicker__day {
  color: #d4d4d8;
}
.react-datepicker__day:hover {
  background-color: #3f3f46;
  color: #fafafa;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #10b981 !important;
  color: #fafafa !important;
}
.react-datepicker__day--today {
  font-weight: bold;
  color: #10b981;
}
.react-datepicker__time-container {
  border-left-color: #3f3f46;
}
.react-datepicker__time {
  background-color: #18181b;
}
.react-datepicker__time-list-item:hover {
  background-color: #3f3f46 !important;
  color: #fafafa !important;
}
.react-datepicker__time-list-item--selected {
  background-color: #10b981 !important;
  color: #fafafa !important;
}
.react-datepicker__navigation-icon::before {
  border-color: #a1a1aa;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker-popper {
  z-index: 50;
}
.react-datepicker__day--outside-month {
  color: #52525b;
}
